* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: yellow;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width:100%;
}

header {
    text-align: center;
    background: black;
    color: white;
    margin-bottom: -4em;
    height: 4em;
}

header h1 {
    line-height: 2em;
}

dl {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 2em;
    padding: 1em;
    overflow: hidden;
}

dt {
    float: left;
    width: 50%;
}

dd {
    float: right;
    width: 50%;
}

section.main {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    border: 1px solid white;
}

section.main > div {
    margin: 4em 0 3em;
    overflow: hidden;
}

footer{
    background: black;
    color: white;
    display: block;
    overflow: hidden;
    margin-top: -3em;
}

footer nav {
    overflow: hidden;
    height: 3em;
}

footer nav a {
    display: block;
    text-align: center;
    height: 3em;
    color: white;
    line-height: 3em;
    background: black;
}